.App {
  text-align: center;
  margin: 0 auto;
  line-height: 1.5;
}

.text-body {
  max-width: 750px;
  text-align: left;
  margin: 0 auto;
  padding: 0 1em;
  font-size: 16px;
}

.text-body p {
  margin: 2em 0;
}

em {
  font-style: italic;
}

header {
  margin: 2em auto;
}

h1 {
  font-size: 72px;
  font-weight: bold;
  background: linear-gradient(to right, #006BB6 0%, #ED174C 100%); 
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

h2 {
  font-weight: bold;
  text-transform: uppercase;
  color: #006BB6;
}

.content {
  display: flex;
  justify-content: center;
  margin-top:2em;
}